.cabecalho{
    align-items: center;
    background: #f9f9f9;
    display: flex;
    justify-content: center;
    padding:  1rem;
    
    @media screen and (min-width: 768px) {
        justify-content: space-between;
        padding: 0 5rem;
    }
}